<label>Name: {{name}}</label><br/><br/>
Email: <label><input type=text [(ngModel)]="email" [placeholder]="email"></label><br/>
{{email}}<br/><br/>
<label>Phone Number : </label><label>{{phone}}</label><br/><br/>
<label>Student Id : </label><label>{{id}}</label><br/><br/>
<label>Father's Name: </label><label [innerHtml]="fathername" ></label><br/><br/>
<label>Mother's Name: </label><label [innerHtml]="mothername" ></label><br/><br/>
<input type="button" value="submit" [disabled]="flag"><br/><br/>
<input type="button" value="cancel" [disabled]="!flag">

<h2>Student Details</h2>
<table border="1" width="35%">
    <tr>
        <th>Student ID</th>
        <th>Student Name</th>
        <th>Age</th>
    </tr>
    <tr *ngFor="let student of studentss">
        <td>{{student.id}}</td>
        <td>{{student.name}}</td>
        <td>{{student.age}}</td>
    </tr>
</table>